body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
   
}

/* CSS header */

header {
    display: flex;
    flex-basis: auto;
    background: linear-gradient(#6797b6, #58829e);
    padding: 0.5em;
    color: white;

    
}

h1 {
    text-align: left;
}

header span {
    flex-basis: auto;
    margin: auto;
    
    
}

header img {
width: 6em;
height: 6em;
border-radius: 6em;
background: white;
border: 2mm ridge rgba(17, 17, 16, 0.6);
}

header nav a {
    color: white;
    padding: 1em;
    margin: 1em;
    font-size: 1.3em;
}

/* css parti centrale */

#wrapper {
    display: flex;
    
}

aside {
    width: 35%;
    font-size: 2em;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/Michael-Rolland/CV/main/Images/ordinateur.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.titleimg {
        background-color: rgba(200,200,200,0.4);
        text-shadow: 0 0 0.25rem black;
        color: white;
        font-size: 1.2em;

}

main {
    width: 43%;
    padding: 5em 1em 2em 1em;

}

main h2{
    text-align: center;
    background-color: rgb(59, 65, 94);
    color: white;
    padding: 0.2em;
    margin: 0 4em;
}

main ul {
    padding: 0.5em 1em 0.5em 12em;
    color: rgb(59, 65, 94);

}

main li {
    font-size: 1.3em;
    list-style: square;
   }

main li a {
    color: #4c7590;
}


#right {
width: 22%;

}

#right img {
    width: 14em;
    display: block;
    margin: 2.2em 0;
    
}
/* 2eme section */

#compet {
    display: flex;
    flex-wrap: wrap;
    background-color: #58829e;
    
}

.leftcomp {
width: 60%;
background-color: black;
color: white;
padding: 2em 3em

}

.leftcomp ul {
    padding: 2.8em;
}

.rightcomp {
width: 30%;
background-color: #58829e;
color: white;
margin: auto;
position: relative;

}

.rightcomp img{
width: 9em;
height: 9em;
border-radius: 9em;
background: white;
border: solid 0.3em #4c7590;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
 }

 

#compet H2 {
text-align: center;
}

#compet ul {
    float: left;
    margin: auto;

}

/* 3eme section */

#formation {
    display: flex;
}

#formation section {
    justify-content: space-between;
}

.formaleft {
    width: 30%;
}

.formacentre {
    width: 35%;
    padding-top: 3.5em;
    background-color: rgb(204, 204, 204, 0.6);
}

.formacentre h2 {
    font-size: 2.5em;
}

.formacentre li {
    margin-left: 3.5em;
    font-size: 1.5em;
}

.formaright {
    width: 35%;
    background-image: url(https://raw.githubusercontent.com/Michael-Rolland/CV/main/Images/1166946_357.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#formation img {
    width: 100%;
}

#formation span h2 {
    text-align: center;
}

#formation span img {
    size: 15em;

}

#moipres {
    display: flex;
}

#moipres span p {
    font-size: 1.2em;
    line-height: 1em;
    text-align: justify;
    
}

#moipres span {
    width: 50%;
}

#moipres span img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

#moipresleft {
    padding: 2em 1em 2em 5em;
}

#hobbies {
    display: flex;
    justify-content: center;
    
}

#hobbies li {
    list-style: none;
    text-align: center;
    font-size: 0.8em;
    ;

}

#hobbies img {
    width: 20em;

}

#hobbies h3 {
    margin: 0.4em;
}

.hobbiesh2 {
    text-align: center;
    background-color: #4c7590;
    color: white;
    padding: 0.2em;
    border-top: solid rgb(36, 68, 92);
    border-bottom: solid rgb(36, 68, 92);

}

.hobbiesh2 h2{
    font-size: 2.4em;
}

footer {
    background-color: #4c7590;
    padding: 0.3em;
    border-top: solid rgb(36, 68, 92);
}

footer p {
    text-align: center;
    color: white;
    font-size: 1.1em;
}

#paragraphe {
display:flex;
align-items: stretch;
padding: 0 15em;
}

#paragraphe, #hobbies {
background-color: aliceblue;

}

#paragraphe p {
    padding: 0.5em;
    text-align: justify;


}

details {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 400;
font-size: 0.8em;
text-align: justify;
padding-right: 2em;
}

summary {
font-weight: 800;
font-size: 1.1em;
color:#4c7590;  
}

.decor {
    margin-left: -1em;
    list-style: none;
    padding-top: 0.3em;
}

.liImmo  {
    font-size: 0.9em;
    list-style: inside;
}